# client
node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# server
server/config/*
server/db/migration/*
server/data/*

# keep
!.gitkeep

# macOS
.DS_Store
__MAC_OSX

# misc
__pycache__