# client
node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# server
server/config/*
server/db/migration/*
server/data/*
server/temp/*
.env

# database
database/data/*

# models/recommenders
# models/recommenders/models/data/
*.csv
*.h5
recipe.*

# models/detection
imgaug/save_image/data/*
imgaug/save_image/chromedriver.exe

# keep
!.gitkeep

# macOS
.DS_Store
__MAC_OSX
__MACOSX

# misc
__pycache__
.idea
